# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.cache/

# Virtual envs
.venv/
venv/
env/
ENV/
.python-version

# Build/dist
dist/
build/
*.egg-info/


# Factorio
mods/
*.zip
